<nav class="navbar navbar-expand-sm  navbar-light bg-light p-3">
    <a routerLink="/" class="navbar-brand" (click)="resetKey()">
        <img src="assets/images/logo.png" class="d-inline-block align-top" alt="logo">
    </a>
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a routerLink="/upload-new" class="nav-link">Upload new</a>
            </li>
            <li class="nav-item active">
                <a routerLink="/documents" class="nav-link">Previously uploaded</a>
            </li>
        </ul>
    </div>
</nav>